
:root{
    --height: 500vh;
}
body{
    margin-bottom: 0;
    background: linear-gradient(#2980b9, #6dd5fa, #ffffff);
}

main{
    min-height: var(--height);
    position: relative;
}

.grass{
    height: 150px;
    background-image: url(https://media.discordapp.net/attachments/1039034574296076399/1052473001020489788/image_2.jpg);
    background-size: contain;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}


.ladder{
    height: calc(var(--height) - 150px);
    background-image: url(https://media.discordapp.net/attachments/1039034574296076399/1052472918547902524/image_3.png);
    width: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.progress{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    background-color: #fff;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 72px;
    text-align: right;
}

.box{
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 5px;
    background-color: black;
    z-index: 3;
}

.box-inner{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: yellow;
    width: 0;
}

.run-box{
    position:absolute;
    left: 0;
    width: 50%;
    height: 150px;
    bottom: 90px;
    overflow: hidden;
}

.run-box img {
    position: absolute;
    right: 0;
    bottom: 0;
    transition: 0.3s all;
}

.run-box.active{
    right: 100%;
}